.reviews-container{
    background-color:  #3734A9;
    margin-top: 100px;
    
}

.reviews{
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
}
.reviews h1{
    font-weight: 800;
    color: white;
    font-size: 52px;
    letter-spacing: -2%;
}

.reviews p{
    font-weight: 400;
    font-size: 20px;
    color: white;
}